---
# Comment
---

html,
body
  text-rendering: optimizeLegibility
  height: 100%
  overflow: hidden
body
  font-family: "Overpass", sans-serif
  font-weight: 300
  font-size: 1em
  line-height: 1.5
  font-feature-settings: "kern"
  -moz-font-feature-settings: "kern"
  -webkit-font-feature-settings: "kern"
  a
    color: #242424
    -webkit-transition: 0.5s linear
    -moz-transition: 0.5s linear
    -o-transition: 0.5s linear
    transition: 0.5s linear

  a:hover
    color: #a891c9
    -webkit-transition: 0.5s linear
    -moz-transition: 0.5s linear
    -o-transition: 0.5s linear
    transition: 0.5s linear
nav
  background-color: white
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0

  li
    padding: 1rem
    padding-bottom: 0
    font-size: 1.25rem

main
  background-color: white
  left: 8rem
  width: 100%
  width: calc(100% - 8rem)
  height: 100%
  position: relative
  overflow-y: auto
  //box-shadow: 0 0px 4rem rgba(0, 0, 0, 0.15)
  border-left: 1px solid rgba(0, 0, 0, 0.25)
  -webkit-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
  -moz-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
  -o-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
  transition: .5s cubic-bezier(0.77, 0, 0.175, 1)

  &.close
    transform: translateX(-8rem)
    -webkit-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
    -moz-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
    -o-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
    transition: .5s cubic-bezier(0.77, 0, 0.175, 1)

article
  color: #424242
  padding: 1rem 2rem
  width: 40rem
  a
    color: #a891c9
    -webkit-transition: 0.5s linear
    -moz-transition: 0.5s linear
    -o-transition: 0.5s linear
    transition: 0.5s linear
  h1
    font-size: 3rem
    line-height: 1.05
  h2
    font-size: 2.25rem
    line-height: 1.25
  h3
    font-size: 1.75
    line-height: 1.25
  p
    margin: 1.375rem auto
    font-size: 1.25rem
  span
    color: #ff358b
    -webkit-transition: color 3s linear
    -moz-transition: color 3s linear
    -o-transition: color 3s linear
    transition: color 3s linear

#repository-page
  padding: 1rem 2rem
  ol
    float: left
    width: 20%
    background-color: rgba(24,24,24,0.24)
  li
    list-style: none

#changing
  color: #ff358b
  letter-spacing: 0.5rem
  -webkit-transition: color 3s linear
  -moz-transition: color 3s linear
  -o-transition: color 3s linear
  transition: color 3s linear

#theme-button
  z-index: 99
  position: fixed
  right: 2rem
  top: 1rem
  display: none

#theme-choice
  z-index: 99
  position: fixed
  top: 4rem
  right: 2rem
  display: none
  & a
    display: block
  & ul
    list-style: none

.nav-arrow
  z-index: 99
  position: fixed
  left: 7rem
  bottom: 1rem
  width: 0
  height: 0
  border-top: 16px solid transparent
  border-bottom: 16px solid transparent
  border-right: 16px solid rgba(0, 0, 0, 0.25)
  cursor: pointer
  -webkit-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
  -moz-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
  -o-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
  transition: .5s cubic-bezier(0.77, 0, 0.175, 1)

  &:hover
    border-right: 16px solid rgba(0, 0, 0, 0.2)

  &.close
    left: 1px
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -o-transform: rotate(180deg)
    transform: rotate(180deg)
    -webkit-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
    -moz-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
    -o-transition: .5s cubic-bezier(0.77, 0, 0.175, 1)
    transition: .5s cubic-bezier(0.77, 0, 0.175, 1)


.carousel
  position: relative
  top: 50%
  transform: perspective(1px) translateY(-50%)

.carousel-nav
  margin-top: -2rem
  margin-left: 2rem
  padding-bottom: 1rem
  font-size: 1.25rem

.button-prev
  cursor: pointer

.button-next
  cursor: pointer

.carousel-cell
  overflow: hidden
  margin-right: 8rem
  opacity: 0
  -webkit-transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)
  -moz-transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)
  -o-transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)
  transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)

.carousel-cell.is-selected
  opacity: 1
  -webkit-transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)
  -moz-transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)
  -o-transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)
  transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1)

.carousel-cell img
  display: block
  height: 80vh
  @media (max-height: 44.75rem)
    height: 70vh

.flickity-prev-next-button
  width: 75px
  height: 75px
  background: transparent

.flickity-prev-next-button:hover
  background: transparent

/* arrow color */
.flickity-prev-next-button .arrow
  fill: rgba(255,255,255,0.85)

.flickity-prev-next-button.no-svg
  color: rgba(255,255,255,0.85)

/* hide disabled button */
.flickity-prev-next-button:disabled
  display: none
