<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }}
  {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}</title>
  <link rel="author" href="{{ "/humans.txt" | prepend: site.baseurl }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
  <!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- Icons -->
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/everywhere.css">
  <link href="/occam.css" switch="/occam.css" rel="stylesheet" type="text/css" class="themes" id="body1">
  <link switch="/cyberweb.css" rel="stylesheet" type="text/css" class="themes" id="body2">
  <link switch="/files/theme/body3.css" rel="stylesheet" type="text/css" class="themes" id="body3">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://npmcdn.com/flickity@2.0/dist/flickity.pkgd.js"></script>
  <script src="/scripts/switcheroo.js"></script>
</head>
