<nav>
    <ul class="topbar">
        <li><a href="/" class="icon ion-home active"></a></li>
        <li><a href="https://instagram.com/tristan.claude/" target="_blank" class="icon ion-social-instagram-outline"></a></li>
        <li><a href="https://github.com/tristanclaude" target="_blank" class="icon ion-social-octocat"></a></li>
        <li><a href="mailto:mail@tristanclaude.ca?Subject=Hello" class="icon ion-email"></a></li>
    </ul>
    <ul class="sidebar">
        <a href="/"><li>About</li></a>
        <a href="/"><li>Contact</li></a>
        <a href="/"><li>Projects</li></a>
        <a href="/"><li>Writing</li></a>
        <a href="/"><li>Photos</li></a>
        <a href="/"><li>Other</li></a>
    </ul>
</nav>
