$transition: 0.5s

html,
body
  text-rendering: optimizeLegibility

body
  background-color: rgba(25,25,25,0.4)
  font-family: system, -apple-system,'.SFNSDisplay-Regular'

#masthead
  max-width: 896px
  height: 4.5rem
  margin: 2rem auto auto auto
  background-color: rgba(25,25,25,0.2)
  -webkit-transition: color 1.5s linear
  -moz-transition: color 1.5s linear
  -o-transition: color 1.5s linear
  transition: color 1.5s linear

  h1
    font-weight: 600
    float: left
    margin-left: 1.5rem
    font-size: 3rem
    line-height: 4.5rem

  h2
    font-weight: 200
    float: right
    margin-right: 1.5rem
    font-size: 2rem
    line-height: 4.5rem

  a
    color: rgb(236, 240, 241)
    -webkit-transition: 0.5s linear
    -moz-transition: 0.5s linear
    -o-transition: 0.5s linear

  a:hover
    color: darken(rgb(236, 240, 241), 20%)
    -webkit-transition: 0.5s linear
    -moz-transition: 0.5s linear
    -o-transition: 0.5s linear

main
  max-width: 100%
  height: auto
  background-color: rgba(25,25,25,0.2)

article
  display: none

#me
  float: left
  max-height: 380px

#quote
  display: none
  float: left
  width: auto
  background-color: #4048EA

  h2
    font-weight: 200
    height: 4em
    line-height: 3em
    color: #D54663
    margin: auto 1em
    font-size: 1.5em

#corrupt
  background-color: rgba(25,25,25,0.1)
  float: left
  width: 620px
  padding: 2rem
  h2
    font-weight: 200
    font-size: 1.5rem
    color: rgb(236, 240, 241)
#sec2
  display: none
  background-color: rgba(25,25,25,0.3)
  float: left
  width: 800px
  padding: 2rem
  h2
    font-weight: 200
    font-size: 1.5rem
    color: darken(rgb(236, 240, 241), 20%)
