$main-background: rgb(236, 240, 241)
$button-size: 3rem
$transition: 0.5s
$color: rgba(0, 0, 0, 0.4)

html,
body
  height: 100%
  overflow: hidden
  text-rendering: optimizeLegibility

main
  background-color: $main-background
  width: 100%
  height: 100%
  position: relative
  transition-duration: 0.5s
  overflow-y: hidden
  &.close
    transform: translateX(10rem) translateY(4.5rem)
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)

article
  font-family: system, -apple-system, '.SFNSDisplay-Regular', 'Comic Neue Angular', 'Ubuntu', sans-serif
  position: absolute
  margin: 7.5em 2em 0 2em
  max-width: 46em
  height: auto
  box-shadow: rgb(212, 216, 217) 1px 1px, rgb(212, 216, 217) 2px 2px, rgb(212, 216, 217) 3px 3px, rgb(212, 216, 217) 4px 4px, rgb(212, 216, 217) 5px 5px, rgb(212, 216, 217) 6px 6px, rgb(213, 217, 218) 7px 7px, rgb(213, 217, 218) 8px 8px, rgb(213, 217, 218) 9px 9px, rgb(213, 217, 218) 10px 10px, rgb(213, 217, 218) 11px 11px, rgb(213, 217, 218) 12px 12px, rgb(213, 217, 218) 13px 13px, rgb(214, 218, 219) 14px 14px, rgb(214, 218, 219) 15px 15px, rgb(214, 218, 219) 16px 16px, rgb(214, 218, 219) 17px 17px, rgb(214, 218, 219) 18px 18px, rgb(214, 218, 219) 19px 19px, rgb(215, 219, 220) 20px 20px, rgb(215, 219, 220) 21px 21px, rgb(215, 219, 220) 22px 22px, rgb(215, 219, 220) 23px 23px, rgb(215, 219, 220) 24px 24px, rgb(215, 219, 220) 25px 25px, rgb(215, 219, 220) 26px 26px, rgb(216, 220, 221) 27px 27px, rgb(216, 220, 221) 28px 28px, rgb(216, 220, 221) 29px 29px, rgb(216, 220, 221) 30px 30px, rgb(216, 220, 221) 31px 31px, rgb(216, 220, 221) 32px 32px, rgb(216, 220, 221) 33px 33px, rgb(217, 221, 222) 34px 34px, rgb(217, 221, 222) 35px 35px, rgb(217, 221, 222) 36px 36px, rgb(217, 221, 222) 37px 37px, rgb(217, 221, 222) 38px 38px, rgb(217, 221, 222) 39px 39px, rgb(218, 222, 223) 40px 40px, rgb(218, 222, 223) 41px 41px, rgb(218, 222, 223) 42px 42px, rgb(218, 222, 223) 43px 43px, rgb(218, 222, 223) 44px 44px, rgb(218, 222, 223) 45px 45px, rgb(218, 222, 223) 46px 46px, rgb(219, 223, 224) 47px 47px, rgb(219, 223, 224) 48px 48px, rgb(219, 223, 224) 49px 49px, rgb(219, 223, 224) 50px 50px, rgb(219, 223, 224) 51px 51px, rgb(219, 223, 224) 52px 52px, rgb(219, 223, 224) 53px 53px, rgb(220, 224, 225) 54px 54px, rgb(220, 224, 225) 55px 55px, rgb(220, 224, 225) 56px 56px, rgb(220, 224, 225) 57px 57px, rgb(220, 224, 225) 58px 58px, rgb(220, 224, 225) 59px 59px, rgb(221, 225, 226) 60px 60px, rgb(221, 225, 226) 61px 61px, rgb(221, 225, 226) 62px 62px, rgb(221, 225, 226) 63px 63px, rgb(221, 225, 226) 64px 64px, rgb(221, 225, 226) 65px 65px, rgb(221, 225, 226) 66px 66px, rgb(222, 226, 227) 67px 67px, rgb(222, 226, 227) 68px 68px, rgb(222, 226, 227) 69px 69px, rgb(222, 226, 227) 70px 70px, rgb(222, 226, 227) 71px 71px, rgb(222, 226, 227) 72px 72px, rgb(222, 226, 227) 73px 73px, rgb(223, 227, 228) 74px 74px, rgb(223, 227, 228) 75px 75px, rgb(223, 227, 228) 76px 76px, rgb(223, 227, 228) 77px 77px, rgb(223, 227, 228) 78px 78px, rgb(223, 227, 228) 79px 79px, rgb(224, 228, 229) 80px 80px, rgb(224, 228, 229) 81px 81px, rgb(224, 228, 229) 82px 82px, rgb(224, 228, 229) 83px 83px, rgb(224, 228, 229) 84px 84px, rgb(224, 228, 229) 85px 85px, rgb(224, 228, 229) 86px 86px, rgb(225, 229, 230) 87px 87px, rgb(225, 229, 230) 88px 88px, rgb(225, 229, 230) 89px 89px, rgb(225, 229, 230) 90px 90px, rgb(225, 229, 230) 91px 91px, rgb(225, 229, 230) 92px 92px, rgb(225, 229, 230) 93px 93px, rgb(226, 230, 231) 94px 94px, rgb(226, 230, 231) 95px 95px, rgb(226, 230, 231) 96px 96px, rgb(226, 230, 231) 97px 97px, rgb(226, 230, 231) 98px 98px, rgb(226, 230, 231) 99px 99px, rgb(227, 231, 232) 100px 100px, rgb(227, 231, 232) 101px 101px, rgb(227, 231, 232) 102px 102px, rgb(227, 231, 232) 103px 103px, rgb(227, 231, 232) 104px 104px, rgb(227, 231, 232) 105px 105px, rgb(227, 231, 232) 106px 106px, rgb(228, 232, 233) 107px 107px, rgb(228, 232, 233) 108px 108px, rgb(228, 232, 233) 109px 109px, rgb(228, 232, 233) 110px 110px, rgb(228, 232, 233) 111px 111px, rgb(228, 232, 233) 112px 112px, rgb(228, 232, 233) 113px 113px, rgb(229, 233, 234) 114px 114px, rgb(229, 233, 234) 115px 115px, rgb(229, 233, 234) 116px 116px, rgb(229, 233, 234) 117px 117px, rgb(229, 233, 234) 118px 118px, rgb(229, 233, 234) 119px 119px, rgb(230, 234, 235) 120px 120px, rgb(230, 234, 235) 121px 121px, rgb(230, 234, 235) 122px 122px, rgb(230, 234, 235) 123px 123px, rgb(230, 234, 235) 124px 124px, rgb(230, 234, 235) 125px 125px, rgb(230, 234, 235) 126px 126px, rgb(231, 235, 236) 127px 127px, rgb(231, 235, 236) 128px 128px, rgb(231, 235, 236) 129px 129px, rgb(231, 235, 236) 130px 130px, rgb(231, 235, 236) 131px 131px, rgb(231, 235, 236) 132px 132px, rgb(231, 235, 236) 133px 133px, rgb(232, 236, 237) 134px 134px, rgb(232, 236, 237) 135px 135px, rgb(232, 236, 237) 136px 136px, rgb(232, 236, 237) 137px 137px, rgb(232, 236, 237) 138px 138px, rgb(232, 236, 237) 139px 139px, rgb(233, 237, 238) 140px 140px, rgb(233, 237, 238) 141px 141px, rgb(233, 237, 238) 142px 142px, rgb(233, 237, 238) 143px 143px, rgb(233, 237, 238) 144px 144px, rgb(233, 237, 238) 145px 145px, rgb(233, 237, 238) 146px 146px, rgb(234, 238, 239) 147px 147px, rgb(234, 238, 239) 148px 148px, rgb(234, 238, 239) 149px 149px, rgb(234, 238, 239) 150px 150px, rgb(234, 238, 239) 151px 151px, rgb(234, 238, 239) 152px 152px, rgb(234, 238, 239) 153px 153px, rgb(235, 239, 240) 154px 154px, rgb(235, 239, 240) 155px 155px, rgb(235, 239, 240) 156px 156px, rgb(235, 239, 240) 157px 157px, rgb(235, 239, 240) 158px 158px, rgb(235, 239, 240) 159px 159px, rgb(236, 240, 241) 160px 160px

  a
    color: rgba(255, 0, 0, 0.5)
    transition-duration: 0.35s
    &:hover
      color: rgba(0, 0, 255, 0.5)
      transition-duration: 0.35s

  h3
    padding: 0.5em
    font-size: 2em
    font-weight: 300
    color: darken($main-background, 5%)
    background-color: rgba(0, 0, 255, 0.5)
  p
    padding: 0.5em
    font-size: 1.4rem
    font-weight: 300
    color: $color

  span
    color: white

#toggle
  z-index: 99
  display: inline-block
  margin: 0
  border: auto
  background: none
  position: fixed
  top: 2rem
  left: 2rem
  span
    display: block

.lines-button
  padding: $button-size / 2 0
  transition: 0.3s
  cursor: pointer
  user-select: none
  border-radius: 0
  &:hover
    opacity: 1
  &:active
    transition: 0

=line
  display: inline-block
  width: $button-size
  height: $button-size / 7
  background: $color
  border-radius: 0
  transition: $transition

.lines
  +line
  position: relative
  &:before, &:after
    +line
    position: absolute
    left: 0
    content: ""
    transform-origin: $button-size / 14 center
  &:before
    top: $button-size / 4
  &:after
    top: -$button-size / 4

.lines-button:hover
  opacity: 1
  .lines
    background: rgba(0, 0, 0, 0.3)
    &:before, &:after
      background: rgba(0, 0, 0, 0.3)

.lines-button.x.close .lines
  background: transparent
  &:before, &:after
    transform-origin: 50% 50%
    top: 0
    width: $button-size
  &:before
    transform: rotate3d(0, 0, 1, 45deg)
    background: rgba(255, 0, 0, 0.5)
  &:after
    transform: rotate3d(0, 0, 1, -45deg)
    background: rgba(0, 0, 255, 0.5)
