$main-background: rgb(236, 240, 241)
$button-size: 3rem
$transition: 0.5s
$color: rgba(0, 0, 0, 0.4)

html,
body
  height: 100%
  overflow: hidden

main
  background-color: $main-background
  width: 100%
  height: 100%
  position: relative
  transition-duration: 0.5s
  overflow-y: hidden
  &.close
    transform: translateX(10rem) translateY(4.5rem)
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)


#toggle
  z-index: 99
  display: inline-block
  margin: 0
  border: auto
  background: none
  position: fixed
  top: 2rem
  left: 2rem
  span
    display: block

.lines-button
  padding: $button-size / 2 0
  transition: 0.3s
  cursor: pointer
  user-select: none
  border-radius: 0
  &:hover
    opacity: 1
  &:active
    transition: 0

=line
  display: inline-block
  width: $button-size
  height: $button-size / 7
  background: $color
  border-radius: 0
  transition: $transition

.lines
  +line
  position: relative
  &:before, &:after
    +line
    position: absolute
    left: 0
    content: ""
    transform-origin: $button-size / 14 center
  &:before
    top: $button-size / 4
  &:after
    top: -$button-size / 4

.lines-button:hover
  opacity: 1
  .lines
    background: rgba(0, 0, 0, 0.3)
    &:before, &:after
      background: rgba(0, 0, 0, 0.3)

.lines-button.x.close .lines
  background: transparent
  &:before, &:after
    transform-origin: 50% 50%
    top: 0
    width: $button-size
  &:before
    transform: rotate3d(0, 0, 1, 45deg)
    background: rgba(255, 0, 0, 0.5)
  &:after
    transform: rotate3d(0, 0, 1, -45deg)
    background: rgba(0, 0, 255, 0.5)
