html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.main-gallery {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1555.2px;
  height: 640px; }

.gallery-cell {
  width: 960px;
  height: 640px; }

.gallery-cell img {
  display: block;
  width: 960px;
  height: 640px; }

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6; }

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1; }

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white; }

.flickity-prev-next-button.no-svg {
  color: white; }

/* closer to edge */
.flickity-prev-next-button.previous {
  left: 0; }

.flickity-prev-next-button.next {
  right: 0; }

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none; }
