*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
            font-size:100%;
        }
@media (max-width:37.5em) {
    html {
        font-size:80%;
    }
}
@media (max-width:25em) {
    html {
        font-size:70%;
    }
}
::-webkit-scrollbar {
    width: 0px;  /* for vertical scrollbars */
    height: 0px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
    border-left:1px solid #fff;
}
img {
    max-width:100%;
}
body {
    background-color:#eee;
    font-family: 'Lato', sans-serif;
    font-weight:300;
}
main {
    margin-left:236px;
    max-width:1680px;
    font-size:1.5rem;
    /*
    font-family: 'Poly', serif;
    */
}
main a {
    text-decoration:none;
}
main a:hover {
    color:purple;
}
article {
    padding:4rem 6rem;
    max-width:840px
}
article h1 {
    color:#272527;
    font-size:3.4rem;
    font-weight:400;
}
article h3 {
    margin-top:-0.6rem;
    margin-bottom:0.6rem;
    color:#373537;
    font-size:2rem;
    font-weight:400;
}
article p {
    margin:1.375rem auto;
}
nav {
    background-color:#ddd;
    top:0;
    position:fixed;
    width:236px;
    height:100%;
    /*
    -webkit-box-shadow: 18px 0px 150px 0px rgba(150,150,150,1);
    -moz-box-shadow: 18px 0px 150px 0px rgba(150,150,150,1);
    box-shadow: 18px 0px 150px 0px rgba(150,150,150,1);
    */
}
nav a {
    text-align:center;
    text-decoration:none;
}
nav li {
    padding:2rem;
    font-size:2rem;
    color:#292929;
    transition:all 0.5s ease;
}
nav li:hover {
    background-color:#eee;
    transition:all 0.5s ease;
    -webkit-box-shadow: 18px 0px 150px 0px rgba(150,150,150,1);
    -moz-box-shadow: 18px 0px 150px 0px rgba(150,150,150,1);
    box-shadow: 18px 0px 150px 0px rgba(150,150,150,1);
}
footer {
    display:none;
}