*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
            font-size:100%;
        }
@media (max-width:37.5em) {
    html {
        font-size:80%;
    }
}
@media (max-width:25em) {
    html {
        font-size:70%;
    }
}
::-webkit-scrollbar {
    width: 0px;  /* for vertical scrollbars */
    height: 0px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0);
}
img {
    max-width:100%;
}
body {
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    color:#c77c87;
    background-color:#f7dde2;
}
header {
    position:fixed;
    top:0;left:0;
    width:100%;
    height:7rem;
    background-color:#e067a3;
}
header h1 {
    vertical-align:middle;
    line-height:7rem;
    padding-left:9rem;
    font-family:'Sansita One';
    font-family:'Molle';
    font-size:4rem;
    font-weight:300;
    color:#f7dde2;
}
header h1 span {
    font-family:'Open Sans';
    font-size:3rem;
}
aside {
    top:7rem;
    position:fixed;
}
nav {
}
nav a {
    text-decoration:none;
    font-family:'Yesteryear';
    font-family:'Sansita One';
    font-family:'Molle';
    color:#e7b1d2;
    transition:all 0.5s ease;
}
nav a:hover {
    transition:all 0.5s ease;
    color:#7dcafb;
}
nav li {
    padding:2rem 2rem 0 9rem;
    font-size:2.5rem;
    transition:all 0.5s ease;
}
nav li:hover {
    transition:all 0.5s ease;
}
.currentpage {
    font-weight:400;
}
main {
}
article {
    margin:7rem auto;
    padding:2rem;
    width:50%;
    font-size:1.6rem;
}
article h3 {
    font-family:'Sansita One';
    font-family:'Molle';
    font-size:2.5rem;
    font-weight:400;
    color:#e067a3;
}
article p {
    padding-bottom:1.6rem;
}
article a {
    text-decoration:none;
    color:#e7b1d2;
    font-weight:400;
    transition:all 0.5s ease;
}
article a:hover {
    transition:all 0.5s ease;
    color:#7dcafb;
}
    