<!DOCTYPE html>
<html lang="en">
{% include head.htm %}
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include nav.htm %}
    <main>
    <div id="menubutton">
    <a href="#" role="button" aria-label="Toggle Navigation" id="toggle" class="lines-button x" hidefocus="hidefocus">
    <span class="lines"></span>
    </a>
    </div>
      {{ content}}
    </main>
    <script type="text/javascript">
    $("#toggle").click(function() {
      $("body").toggleClass("navOpen");
      $("nav").toggleClass("close");
      $("main").toggleClass("close");
      $(this).toggleClass("close");
    });
    </script>
  </body>
</html>
