<!DOCTYPE html>
<html lang="en">
{% include head.htm %}
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {% include nav.htm %}
  <main>
    {{ content}}
  </main>
</body>
<script type="text/javascript">
$(".nav-arrow").click(function() {
  $("body").toggleClass("navOpen");
  $("main, .nav-toggle").toggleClass("close");
  $(this).toggleClass("close");
});
</script>
<script>
document.getElementById('push-cyberweb').onclick = function () {
    document.getElementById('occam').href = '/cyberweb.css';
}
document.getElementById('push-occam').onclick = function () {
    document.getElementById('occam').href = '/occam.css';
}
</script>
<script src="/scripts/changing.js"></script>
</html>
