<!DOCTYPE html>
<html lang="en">
{% include head.htm %}
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="masthead"><h1>TRSTN</h1><h2><a href="#">ABT</a> / <a href="#">WRTNG</a> / <a href="/phtgrphs">PHTGRPHS</a> / <a href="#">PRJCTS</a></h2></div>
    <main>
      {{ content}}
    </main>
  </body>
<script>
  var rotate = function () {
      var el = document.getElementById('masthead');
      var timers = new Array(9);

      function step1(el) {
          el.style.color = '#ff358b';
          timers[0] = setTimeout(function () { step2(el); }, 1500);
      }

      function step2(el) {
          el.style.color = '#f15297';
          timers[1] = setTimeout(function () { step3(el); }, 1500);
      }

      function step3(el) {
          el.style.color = '#e266a3';
          timers[2] = setTimeout(function () { step4(el); }, 1500);
      }

      function step4(el) {
          el.style.color = '#d176b0';
          timers[3] = setTimeout(function () { step5(el); }, 1500);
      }

      function step5(el) {
          el.style.color = '#be84bc';
          timers[4] = setTimeout(function () { step6(el); }, 1500);
      }

      function step6(el) {
          el.style.color = '#a891c9';
          timers[5] = setTimeout(function () { step7(el); }, 1500);
          clearTimeout(timers[3]);
      }

      function step7(el) {
          el.style.color = '#8d9bd5';
          timers[6] = setTimeout(function () { step8(el); }, 1500);
      }

      function step8(el) {
          el.style.color = '#60a7e4';
          timers[7] = setTimeout(function () { step9(el); }, 1500);
      }

      function step9(el) {
          el.style.color = '#01b0f0';
          timers[8] = setTimeout(function () { step10(el); }, 1500);
      }

      function step10(el) {
          el.style.color = '#60a7e4';
          timers[9] = setTimeout(function () { step11(el); }, 1500);
      }

      function step11(el) {
          el.style.color = '#8d9bd5';
          timers[10] = setTimeout(function () { step12(el); }, 1500);
      }

      function step12(el) {
          el.style.color = '#a891c9';
          timers[11] = setTimeout(function () { step13(el); }, 1500);
      }

      function step13(el) {
          el.style.color = '#be84bc';
          timers[12] = setTimeout(function () { step14(el); }, 1500);
      }

      function step14(el) {
          el.style.color = '#d176b0';
          timers[13] = setTimeout(function () { step15(el); }, 1500);
      }

      function step15(el) {
          el.style.color = '#e266a3';
          timers[14] = setTimeout(function () { step16(el); }, 1500);
      }

      function step16(el) {
          el.style.color = '#f15297';
          timers[15] = setTimeout(function () { step1(el); }, 1500);
      }

      step1(el);
  };
rotate();

var carousel = document.querySelector('.carousel');
var flkty = new Flickity( carousel, {
  imagesLoaded: true,
  percentPosition: false,
});

});

</script>
</html>
